<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-beans-4.1.xsd ">

    <context:property-placeholder location="classpath:db.properties" />

    <!-- 配置JMS模板（Queue），Spring提供的JMS工具类，它发送、接收消息。 -->
    <!--<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
        <property name="defaultDestination" ref="testQueue"/>
        <property name="receiveTimeout" value="10000"/>
        &lt;!&ndash; true是topic，false是queue，默认是false，此处显示写出false &ndash;&gt;
        <property name="pubSubDomain" value="false"/>
    </bean>-->
    <!-- 配置JMS连接工厂 -->
    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="amqConnectionFactory" />
        <property name="sessionCacheSize" value="10"/>
    </bean>
    <!-- 消息队列连接工厂 -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${mq.brokerURL}" />
    </bean>

    <!-- 配置消息队列监听器-->
    <bean id="queueMessageListener" class="com.jiehang.listener.QueueMessageListener">
    </bean>
    <!-- 将监听器注入到spring提供的监听容器中，配置连接工厂，监听的目标是destination -->
    <bean id="queueListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="destination" ref="testQueue"/>
        <property name="messageListener" ref="queueMessageListener"/>
        <property name="concurrentConsumers" value="2" />
    </bean>

    <bean id="queueMessage2Listener" class="com.jiehang.listener.QueueMessage2Listener">
    </bean>
    <bean id="queueListenerContainer2" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
        <property name="destination" ref="testQueue2"/>
        <property name="messageListener" ref="queueMessage2Listener"/>
        <property name="concurrentConsumers" value="4" />
    </bean>

    <!--<bean id="consumer" class="com.jiehang.consumer.Consumer">
        <property name="jmsTemplate" ref="jmsTemplate" />
    </bean>

    <bean id="producer" class="com.jiehang.producer.Producer">
        <property name="jmsTemplate" ref="jmsTemplate" />
    </bean>-->

    <import resource="active_mq_ref.xml" />

</beans>